@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}