a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*{
   margin: 0;
   padding: 0;
   border: 0;
}
body {
   /* //background-color: #008f6c; */
   background-color: red;
   background-image: url('./img/Background.png');
   background-repeat: no-repeat;
   background-size: cover;
   max-height: 100vh; 
}
.wrapper {
   max-width: 1440px;
   min-height: 100vh;
   padding-left: 102px;
   position: relative;
   margin: 0 auto;
   padding: 12.6vh 0 0 103px;
   width: auto;
   box-sizing: border-box;
}
.wrapper-game {
   display: none;
   width: auto;
   height: 100vh;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
   margin: 0 auto;
}
.ten {
   width: 100%;
   max-width: 1440px;
}
.sex {
   width: 60%;
   max-width: 1440px;
}
.title {
   font: bold 57px/67px Roboto, Arial, Helvetica, sans-serif;
   color: #fff;  
   margin-bottom: 0.8vh;
}
.subtitle {
   font: bold 19px/22px Roboto, arial, helvetica, sans-serif;
   color: #fff;
   margin-bottom: 5.7vh;
   padding-left: 1px;
}
.subtitle span {
   font-weight: normal;
}
.level {
   margin: 0 0 14vh 3.7%;
}
.level__item {
   font: bold 50px/59px Roboto, arial, helvetica, sans-serif;
   margin-bottom: 2.4vh;
   color: #fff;
   position: relative;
   text-align: left;
   transition: 0.2s ease-in-out;
   text-shadow: 0 0 0 transparent, 0 0 0 transparent;  
   overflow: visible;
   cursor: pointer;
}
.level__item:hover {
   content: '';
   color: white;
   text-shadow: 0 0 10px #d62b2e, 0 0 50px #d62b2e;
}
.active::before {
   content: '';
   width: 18px;
   height: 18px;
   background: #d62b2e;
   position: absolute;
   top: calc(50% - 9px);
   left: -45px;
   transform: rotate(45deg);
}
.button {
   font: bold 32px/36px Roboto, arial, helvetica, sans-serif;
   color: #ffffff;
   background-color: #d62b2e;
   border-color: #d62b2e;
   padding: 28px 84px;
   border-radius: 7px;
   box-shadow: 0 0 40px 40px #d62b2e inset, 0 0 0 0 #d62b2e;
   -webkit-transition: all 150ms ease-in-out;
   transition: all 150ms ease-in-out;
}
.button:hover {
   content: '';
   box-shadow: 0 0 10px 0 #d62b2e inset, 0 0 10px 4px #d62b2e;
}
.back__card1 {
   position: absolute;
   left: 61.67%;
   top: 51.76vh;
   transform: rotate(11.9deg);
}
.back__card2 {
   position: absolute;
   left: 74.17%;
   top: 53.52%;
   transform: rotate(39.26deg);
}
.flip-card {
   background-color: transparent;
   width: 218px;
   height: 341px;
   margin: 10px 13px 10px 10px;
   perspective: 1000px;
}
.flip-card:hover {
   animation: move;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease;
}
@keyframes move {
   50% {
   transform: rotate(-3.08deg) translateY(-30px);
   }
   100% {
   transform: rotate(0deg) translateY(-22px);
   }
}
.flip-card__inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}
.flip-card__front, .flip-card__back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
   background-repeat: no-repeat;
   background-size: cover;
}
.flip-card__front {
   background-image: url('img/рубашка.png');
}
.flip-card__back {
   background-image: url('img/GO.png');
   transform: rotateY(180deg);
}
.flip-card__back-bug {
   position: absolute;
   background-image: url('img/КартаBUG.png');
   background-repeat: no-repeat;
   background-size: cover;
   transform: rotateY(180deg);
}
.rotate{
   transform: rotateY(180deg);
}

@media (max-width: 1440px) {
.flip-card {
   min-width: 218px;
}
} 
@media (max-width: 1370px) {
.ten {
   width: 100%;
}
.back__card2 {
   left: 72%;
}
} 
@media (max-width: 1215px) {
.wrapper {
   padding: 20vh 0 0 103px;
}   
.back__card1 {
   left: 60%;
   top: 47vh;
   width: 20vw;
}
.back__card2 {
   left: 70%;
   top: 47%;
   width: 20vw;
}
.flip-card {
   width: 16vw;
   min-width: 160px;
   height: 25vw;
   margin-top: 5px;
   margin-bottom: 0;
}
} 
@media (max-width: 1000px) {
.wrapper {
   padding: 12vh 0 0 80px;
}   
.sex {
   width: 80%;
} 
.flip-card {
   width: 17vw;
   min-width: 130px;
   height: 27vw;
   margin-top: 5px;
   margin-bottom: 0;
}
}
@media (max-width: 915px) {
.title {
   font: bold 53px/65px Roboto, Arial, Helvetica, sans-serif;
}
.subtitle {
   font: bold 16px/20px Roboto, arial, helvetica, sans-serif;
}
.subtitle span {
   font-weight: normal;
}
.level__item {
   line-height: 45px;
}  
.button {
   padding: 15px 50px;
} 
.sex {
   width: 60%;
} 
}
@media (max-width: 800px)  {
.sex {
   width: 75%;
}
.ten {
   width: 90%;
}
.flip-card {
   width: 14vw;
   min-width: 70px;
   height: 22vw;
}
}
@media (max-width: 500px)  {
.wrapper {
   padding-top: 23vh;
}
.subtitle {
   margin: 0 0 3vh 0;
}
.flip-card {
   min-width: 70px;
   height: 33vw;
}
.button {
   padding: 15px 40px;
}
.sex {
   width: 100%;
}
.ten {
   width: 100%;
}
.flip-card {
   width: 22vw;
   min-width: 80px;
   height: 35vw;
}
}
@media (max-width: 360px)  {
.flip-card {
   width: 25vw;
   min-width: 80px;
   height: 40vw;
}
}